{% extends 'base.html' %}
{% block content %}

<div class="global-container bg-dark">
    <div class="card login-form bg-dark text-light">
        <div class="card-body">
            <h3 class="card-title text-center font-weight-bold">Change Password</h3>
            {% if messages %}

            {% for message in messages %}
            <div class="alert-info">
                {{ message }}
            </div>
            {% endfor %}

            {% endif %}
            <div class="card-text">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username" class="form-control form-control-sm" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" name="password" class="form-control form-control-sm"
                            id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block form-control">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}