{% load get_group %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}">
    <title>Lett' uce Eat</title>
</head>
<body class="">
    {% block content1 %}
    {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-header pb-2 navbar-nav mr-auto">
            <a class="navbar-brand" href="#">
                <img src="https://img.icons8.com/?size=100&id=MSeo0pcLeg0A&format=png&color=000000" style="height: 40px;" class="logo" />
            </a>
        </div>
        <a class="navbar-brand" href="/"><h3 class="class-name text-light font-weight-bold">Lett' uce Eat</h3></a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% block content3 %}
                
                {% endblock %}
                <li class="nav-item">
                    <a href="{% url 'main:home' %}" class="nav-link mr-2 font-weight-bold text-light">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'main:menu' %}" class="nav-link mr-2 font-weight-bold text-white">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'main:about' %}" class="nav-link mr-2 font-weight-bold text-white">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="meDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Me
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown bg-transparent" aria-labelledby="meDropdown">
                            <a class="dropdown-item font-weight-bold text-light" href="{% url 'main:dashboard' %}">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item font-weight-bold text-danger" href="{% url 'accounts:logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'main:menu' %}" class="nav-link mr-2 font-weight-bold text-white">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'main:about' %}" class="nav-link mr-2 font-weight-bold text-white">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:login_attempt' %}" class="nav-link mr-2 font-weight-bold text-light">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:register_attempt' %}" class="nav-link mr-2 font-weight-bold text-light">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>    
    <main role="main">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content2 %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $('.carousel').carousel();
    </script>
</body>